body{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;

}

#main{
	margin: 0 auto;
}

table {
	font-size: 120%;
	color:#666;
	text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
	margin:auto;
	border:#ccc 1px solid;
	border-radius:3px;
	max-width: 100%;
}
table th {
	padding:21px 25px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;

	background: #ededed;
}
table tr {
	text-align: justify;
	padding-left:20px;
}
table td {
	padding:18px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;

	background: #fafafa;
}

table caption{
	font-weight: bold;
	font-size: 160%;
}

img{
    margin-left: 50px;
	margin-bottom: -20px;
}

.footer{
   position:fixed;
   left:0px;
   bottom:0px;
   height:auto;
   width:auto;
   background:#999;
}